<div class="recipe_display_container">
  <h2 class="recipe_name">Recipe name</h2>	
  <div class="duo_space_between inline">
    <span class=" right">
      Preparation time: 1 Hrs
    </span>
    <span class=" left inline">
      Public <div class="statut green"></div>
    </span>
  </div>

  <span class="text_display">Cooking time : 1.5 Hrs</span>
  <span class="text_display">description</span>
  <div class="duo_space_between">
    <button class="btn right disabled" disabled="true">
      Generate shopping list
    </button>
    <button class="btn left">
      Add ingredient
    </button>
  </div>
  <div class="separator"></div>
  <div class="display_recipe_ingredients">
    <table class="data_table">
      
    </table>
  </div>
</div>