<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="/assets/recipe-svgrepo-com.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
    <a class="navbar-brand d-flex align-items-center ms-2" href="#">Recipe-App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <%= link_to "Foods", user_foods_path(current_user), class: active?('foods') %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item">
            <%= link_to "Public Recipes", public_recipes_path, class: active?('foods') %>
        </li>
        <li class="nav-item">
          general_shopping_list_path
          <a class="nav-link disabled">Shopping List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
